body{
    background-color: bisque;
}
h1{
    color:red;
    background-color: aliceblue;
    text-align: center;
    border-radius: 50%;
}
h1:hover{
    text-shadow: 10px 5px 10px black;
}
img{
    width:300px;
    border:10px inset red;
    background-color: black;
}
.fruit:hover{
    filter:contrast(200%); 
    background-color: white; 
}
.fruit{
    padding-left: 50px;
}
.vegetable{
    padding-right: 50px;
}
.vegetable:hover{
    filter:blur(10px)
}
.food{
    padding:25px;
    box-sizing: border-box;
}