#place{
    background-color:bisque;
}
#goa{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    text-shadow: 10px 0px 10px black;
    border:10px dotted lightblue;
    border-radius: 10px;
}
#cb{
  text-align: center;  
  color: red;
}
#df{
 text-align: center;  
  color: red;
}
#para{
    font-family: sans-serif;
}
#paragraph{
    font-family: sans-serif;
}